/*RESET*/


/*descomentar reset depois talvez*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;*/




/*ESTILIZAÇÃO DO MOBILE*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./wallpaper-hanoi-2.jpeg);
}
.container{
    padding-top: 15px;
    text-align: center;
}

/* HEADER */
header {
    text-align: center;
    color: white;
}
header h1 {
    font-size: 15vw;
    font-family: 'Londrina Solid';
    text-transform: uppercase;
}
header #cabecalho {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
header #extaKenzie {
    visibility: hidden;
    font-family: 'Londrina Solid';
    font-weight: 100;
    font-size: 1.1em;
    text-align: left;
}
header #restart {
    align-self: center;
    margin-right: -10px;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
}
#main .torre {
    width: 12px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;    
    border-radius: 10px 10px 0;
}
#main .torre:hover {
    cursor: pointer;
}
#main .torre .bloco {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: orange;
}
#main .torre #bloco1 {
    width: 80px;
    background-color: red;
    cursor: pointer;
}
#main .torre #bloco2 {
    width: 110px;
    background-color: blue;
    cursor: pointer;
}
#main .torre #bloco3 {
    width: 140px;
    background-color:yellow;
    cursor: pointer;
}
#main .torre #bloco4 {
    width: 170px;
    background-color: green;
    cursor: pointer;
}
#main .torre #bloco5 {
    width: 200px;
    background-color: black;
    cursor: pointer;
}
/* BUTTONS */
.bonus {
    margin: 10px;
    width: 120px;
    cursor: pointer;
}
#extraKenzie {
    display: none;
}
#tresDiscos{
    width: 120px;
    height: 50px;
    margin: 2px;
}
#quatroDiscos{
    width: 120px;
    height: 50px;
    margin: 2px;

}
#cincoDiscos{
    width: 120px;
    height: 50px;
    margin: 2px;
}
#tresDiscos:hover{
    background-color: green;
}
#quatroDiscos:hover{
    background-color: green;
}
#cincoDiscos:hover{
    background-color: green;
}

button {
    border: none;
    transition: 0.2s, color 0.2s;
}
button:hover {
    cursor: pointer;
}
#btn-start {
    font-size: 20px;
    padding: 10px 40px;
    margin-top: -50px;
    vertical-align: middle;
    background-color: #7f9c45;
    color: #fff;
}

#btn-restart {
    display: none;
    font-size: 15px;
    padding: 8px 10px;
    margin-bottom: 5px;
    color: #000;
}
#btn-restart:hover {
    cursor: pointer;
    background-color: #922e2c;
    color: #fff;
}

#msg {
    position: absolute;
    z-index: 1;
    transform: translate(50%, 50%);
    right: 50%;
    margin-top: -30px;
    font-weight: 600;
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
}

/* MEDIA QUERIES */
@media (min-width: 667px) {
    .container{
        margin: 0 auto;
        padding-top: 30px;
    }
    /* HEADER */
    header h1 {
        font-size: 100px;   
    }
    header #cabecalho {
        width: 85%;
    }
    header #extaKenzie {
        visibility: hidden;
        display: flex;
        justify-content: space-between;            
        font-size: 1.5em;
    }
    header #extaKenzie #time-content{
        margin-left: 50px;
    }
    
    /* #MAIN */
    #main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #main .torre {
        width: 25px;
        height: 215px;
        margin: 80px; 
        margin-bottom: 0;
    }
    #main .torre .bloco {
        height: 35px;
    }
    #main .torre #bloco1 {
        width: 65px;
    }
    #main .torre #bloco2 {
        width: 100px;
    }
    #main .torre #bloco3 {
        width: 135px;
    }
    #main .torre #bloco4 {
        width: 170px;
    }
    #msg {
        font-size: 40px;
    }
    /* MAIN */
    main {
        display: flex;
        flex-direction: column;
    }
    #main .torre:hover {
        background-color: rgb(173, 173, 173);
    }
    #main .torre .bloco {
        width: 50px;
        border-radius: 5px;
        border: 2px solid #000;
        background-color: orange;
        cursor: pointer;
    }
    #main .torre #bloco1 {
        width: 80px;
        background-color: red;
        cursor: pointer;
    }
    #main .torre #bloco2 {
        width: 110px;
        background-color: blue;
        cursor: pointer;
    }
    #main .torre #bloco3 {
        width: 140px;
        background-color:yellow;
        cursor: pointer;
    }
    #main .torre #bloco4 {
        width: 170px;
        background-color: green;
        cursor: pointer;
    }
    #main .torre #bloco5 {
        width: 200px;
        background-color: black;
        cursor: pointer;
    }
}

@media screen and (max-width: 380px){
header h1 {
    color:rgb(250, 250, 250);
}
header #cabecalho {
    justify-content: center;
}
#extraKenzie{
    display: flex;
    flex-direction: row;
}
#extraKenzie button {
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 25px;
}
.bonus {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#movimentos{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#btn-start{
    height: 39px;
    font-size: 15px;
    position: absolute;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    width: 108px;
    margin-top: 50px;
    background-color: transparent;
    border: solid whitesmoke;
    border-radius: 5px; 
}

#main {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#time-content{
    position: absolute;
    left: 162px;
    bottom: 20px
}
#btn-restart {
    position: absolute;
    bottom: 5px;
    left: 15px;   
    width: 30%;
    background-color: transparent;
    color: whitesmoke;
    border: solid whitesmoke;
    border-radius: 5px;
}

#main .torre #bloco4 {
    width: 110px;
}
#main .torre #bloco3 {
    width: 86px;
}
#main .torre #bloco2 {
    width: 66px;
}
#main .torre #bloco1 {
    width: 46px;
}
#main .torre #bloco0 {
    width: 26px;
}
#extraKenzie {
    display: none;
}
}