/*RESET*/


/*descomentar reset depois talvez*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;*/




/*ESTILIZAÇÃO DO MOBILE*/

body {
    background-image: url(/wallpaper-hanoi-2.jpeg);
    font-family: 'Press Start 2P', cursive;
    color: white

}

h2 {
    display: flex;
    justify-content: center;    
	margin: 10px;
	color: white;
    font-size: 19px;
    text-shadow: 4px 2px 1px #2558f0;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*instruções página inicial*/

/* #instrutions { 
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    
} */

#instrutions p {
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px;

}

.hidden {
    display: none;
}

ol li {
    font-size: 16px;
}

#instrutions-2, ol {
    font-family: Arial, Helvetica, sans-serif
}

#div-play {
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

button {    
    font-family: 'Press Start 2P', cursive;
    border: 4px solid #ffff00;
    background-color: black;
    color: white;
    padding: 10px;
}

button:hover {
    background-color: white;
    color: black;
    border: 4px solid red;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*quando o botão start for selecionado*/

#torres {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#palavras {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#palavras p{
    margin: 25px 50px 10px 50px;
}

#torre-inicial, #torre-centro, #torre-final {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#torre-inicial {
    margin: 0 50px 0 20px;
}

#torre-centro {
    margin: 0 50px 0 50px;
}

#torre-final {
    margin: 0 20px 0 50px;
}

.game {
    display: none; 
}

.showGame {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 60px;
    margin-bottom:60px;
}

#header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

#movimentos-write {
    margin: 0 20px 0 20px;
}

/*TORRES E DISCOS MOBILE*/

.barra {
    height: 140px;
    width: 8px;
    background-color: white;
}

.disco5 {
    width: 20px;
    height: 14px;
    background-color:#ffff00
}

.disco4 {    
    width: 35px;
    height: 14px;
    background-color:#fda2a1
}

.disco3 {    
    width: 50px;
    height: 14px;
    background-color:#1cd7dc
}

.disco2 {
    width: 65px;
    height: 14px;
    background-color:#ff9203
}

.disco1 {
    width: 80px;
    height: 14px;
    background-color:#fb0102;
}


/*ESTILIZAÇÃO PC*/

@media only screen and (min-width: 800px) {

h2 {
    font-size: 40px;
    text-shadow: 5px 5px 1px #2558f0;
    margin-bottom: 50px;
}

ol {
    align-items: center;
    align-content: center;
}

/*TORRES E DISCOS PC*/

#torre-inicial {
    margin: 0 100px 0 100px;
}
#torre-centro {
    margin: 0 100px 0 100px;
}
#torre-final {
    margin: 0 100px 0 100px;
}

.barra {
    height: 150px;
    width: 10px;
    background-color: white;
}
.disco5 {
    width: 40px;
    height: 20px;
    background-color:#ffff00;
    border: 1px solid white;
}

.disco4 {    
    width: 65px;
    height: 20px;
    background-color:#fda2a1;
    border: 1px solid white;
}

.disco3 {    
    width: 90px;
    height: 20px;
    background-color:#1cd7dc;
    border: 1px solid white;
}

.disco2 {
    width: 115px;
    height: 20px;
    background-color:#ff9203;
    border: 1px solid white;
}

.disco1 {
    width: 140px;
    height: 20px;
    background-color:#fb0102;
    border: 1px solid white;
}
/*PARTE DE BAIXO*/
#palavras p{
    margin: 35px 100px 10px 100px;
}

#movimentos-write, #movimentos {
    font-size: 14px;
}

button {
    font-size: 16px;
}

} /*FIM DO MEDIA QUERY Min 800*/
